[user]
	name = jamesli
	email = hbjoylee@gmail.com
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
	logoutputencoding = gbk
[core]
	editor = vim
#	excludesfile = /root/.gitignore
[color]
	status=auto
	branch=auto
	ui=true
	pager=true
[color "branch"]
	current=yellow reverse
	local=yellow
	remote=green
[color "diff"]
	meta=yellow bold
	frag=magenta bold
	old=red bold
	new=green bold
[color "status"]
	added=yellow
	changed=green
	untracked=cyan
[merge]
	tool = vimdiff
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
